.add-todo {
  display: flex;
  justify-content: space-between
}

.input {
  width: 50%;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid #373d58;
  font-size: 14px;
}

.btn {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background: #373d58;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.btn:hover {
  cursor: pointer;
  color: #fff;
}

.btn:active {
  transform: translate(0.5px, 0.5px)
}